version: '3.8'
services:
    mysql:
        image: mysql:8.0
        container_name: mysql_container
        volumes:
            - ./db/mysql/data:/var/lib/mysql
        ports:
            - "3306:3306"
        environment:
            MYSQL_ROOT_PASSWORD: ${DEV_MYSQL_ROOT_PASSWORD}
            MYSQL_DATABASE: ${DEV_MYSQL_DATABASE_NAME}
            MYSQL_USER: ${DEV_MYSQL_USER}
            MYSQL_PASSWORD: ${DEV_MYSQL_PASSWORD}
        networks:
            - devtoon
networks:
    devtoon: